[run]
source = 
     bridgedb
     lib/bridgedb/test/test_*
branch = True
#parallel = True
timid = True

[report]
modules = bridgedb
omit = 
     */test*
     */_langs*
     */_version*
     bridgedb/Tests.py
# Regexes for lines to exclude from report generation:
exclude_lines = 
     pragma: no cover
     # don't complain if the code doesn't hit unimplemented sections:
     raise NotImplementedError
     # don't complain if non-runnable or debuging code isn't run:
     if 0:
     if False:
     if self[.verbosity.]
     if options[.verbosity.]
     def __repr__
     if __name__ == .__main__.:
# Ignore source code which cannot be found:
ignore_errors = True
# Exit with status code 2 if under this percentage is covered:
fail_under = 10

[html]
directory = doc/coverage-html
