# Python binary and object files
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
*.egg-info/*
.installed.cfg
MANIFEST

# Installer logs
pip-log.txt
installed-files.txt

# Unit test / coverage reports
.coverage
.tox
*.prof
nosetests.xml

# Translations
*.mo

# Editor stuff
\#*
.\#*
*~

# Git mergetool backups and save files
*.orig
*.bak

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# PyCharm
.idea/*

# etags/ctags
TAGS

# BridgeDB specific files:
#-------------------------

# databases and keys
*.db
*.sqlite
secret_key
cert
privkey.pem
bridgedb-gpg.sec

# pid file and runtime directory
bridgedb.pid
run/*

# logs
*/bridgedb*.log
*/assignments.log
*/bridgedist.log

*bridge-descriptors*
*cached-descriptors*
*cached-extrainfo*
*networkstatus-bridges
*blocked-bridges
*extra-infos

# do not recommit lib/bridgedb/_langs.py:
# (the "supported" variable is supposed to be rewritten at install time)
lib/bridgedb/_langs.py
