# This is a pip requirements.txt file for running BridgeDB and BridgeDB's test
# suites on Travis CI infrastructure. See https://travis-ci.org/ and the
# .travis.yml file for more info.
#
# Please note that there may be additional dependencies not listed here but
# specified with their version numbers in .travis.yml in order to submit test
# runs which use multiple different dependency versions.
#------------------------------------------------------------------------------
#
# To run install these dependencies and run the tests, do:
#
#     $ pip install -r .test.requirements.txt
#     $ make coverage
#
#------------------------------------------------------------------------------
coverage==3.7.1
coveralls==0.4.2
leekspin==1.1.4
mechanize==0.2.5
sure==1.2.2
Babel==0.9.6
BeautifulSoup==3.2.1
Mako==0.8.1
https://ipaddr-py.googlecode.com/files/ipaddr-2.1.10.tar.gz#sha1=c608450b077b19773d4f1b5f1ef88b26f6650ce0#egg=ipaddr-2.1.10-py2.7
pycrypto==2.6.1
pygeoip==0.2.7
gnupg==2.0.1
pillow>=2.6.1
qrcode==5.0.1
stem==1.3.0
zope.interface==3.6.1
