language: python

notifications:
  irc:
    channels:
      - "irc.oftc.net#tor-bots"
      - "irc.oftc.net#tor-bridgedb"
    template:
      - "%{repository}#%{build_number} (%{branch} - %{commit} : %{author}): %{message}"
      - "Build details : %{build_url}"
    on_success: always
    on_failure: always
  email:
    recipients:
      - isis@torproject.org
      - sysrqb@torproject.org
    on_success: never
    on_failure: change

python:
  - "2.7"

addons:
  hosts:
    - bridges.torproject.org

env:
  global:
    # Fixes Travis-CI issue #1748, which was causing non-deterministic CI test failures,
    # particularly in the lib/bridgedb/test/test_https.py integration tests which use
    # the Python mechanize module to test the HTTPS server.
    # See https://github.com/travis-ci/travis-ci/issues/1748
    #     https://travis-ci.org/isislovecruft/bridgedb/jobs/50169439#L1763
    #     https://stackoverflow.com/questions/2192323/what-is-the-python-egg-cache-python-egg-cache
    #     https://github.com/pypa/virtualenv/issues/459
    - PYTHON_EGG_CACHE="${HOME}/.python-eggs-$(echo $RANDOM$PPID$RANDOM | sha256sum | cut -d ' ' -f 1)"
  matrix:
    # Debian Wheezy
    - TWISTED_VERSION=13.2.0 PYOPENSSL_VERSION=0.13.1
    # Debian Jessie
    - TWISTED_VERSION=14.0.2 PYOPENSSL_VERSION=0.14

matrix:
  include:
    - python: "2.7"
      env: TWISTED_VERSION=15.0.0 PYOPENSSL_VERSION=0.14
    - python: "pypy"
      env: TWISTED_VERSION=14.0.2 PYOPENSSL_VERSION=0.14
  allow_failures:
    - python: "2.7"
      env: TWISTED_VERSION=15.0.0 PYOPENSSL_VERSION=0.14
    - python: "pypy"
      env: TWISTED_VERSION=14.0.2 PYOPENSSL_VERSION=0.14
  fast_finish: true

before_install:
  - sudo apt-get update
  - mkdir $PYTHON_EGG_CACHE
  - chmod -R og-w $PYTHON_EGG_CACHE

install:
  - TWISTED_VERSION=$TWISTED_VERSION PYOPENSSL_VERSION=$PYOPENSSL_VERSION ./scripts/install-dependencies
  - make install

# Start a BridgeDB instance before running the tests:
before_script:
  - ./scripts/setup-tests
  - bridgedb -r run &

script:
  - make coverage-test

after_success:
  - coveralls --rcfile=".coveragerc"
