# This is a pip requirements.txt file for running BridgeDB and BridgeDB's test
# suites on Travis CI infrastructure. See https://travis-ci.org/ and the
# .travis.yml file for more info.
#
# Please note that there may be additional dependencies not listed here but
# specified with their version numbers in .travis.yml in order to submit test
# runs which use multiple different dependency versions.
#------------------------------------------------------------------------------
#
# To run install these dependencies and run the tests, do:
#
#     $ pip install -r .test.requirements.txt
#     $ make coverage
#
#------------------------------------------------------------------------------
coverage==4.2
coveralls==0.4.2
git+https://git.torproject.org/user/isis/leekspin.git@bad0bed11a9018f65555b3c6998b26e2cb06f5b5#egg=leekspin-2.2.0.dev1-py2.7
mechanize==0.2.5
sure==1.2.2
Babel==0.9.6
BeautifulSoup==3.2.1
Mako==0.8.1
ipaddr==2.1.11
pycrypto==2.6.1
pygeoip==0.2.7
gnupg==2.0.1
pillow>=2.6.1
qrcode==5.0.1
service_identity==14.0.0
git+https://git.torproject.org/stem.git@3eb59411781c4fa210979cb112b800c001a59f6c#egg=stem-1.5.4.dev1-py2.7
zope.interface==3.6.1
