language: python

notifications:
  irc:
    channels:
      - "irc.oftc.net#tor-bots"
      - "irc.oftc.net#tor-bridgedb"
    template:
      - "%{repository}#%{build_number} (%{branch} - %{commit} : %{author}): %{message}"
      - "Build details : %{build_url}"
    on_success: always
    on_failure: always
  email:
    recipients:
      - isis@torproject.org
      - sysrqb@torproject.org
    on_success: never
    on_failure: change

python:
  - "2.7"

addons:
  hosts:
    - bridges.torproject.org

env:
  global:
    # Fixes Travis-CI issue #1748, which was causing non-deterministic CI test failures,
    # particularly in the lib/bridgedb/test/test_https.py integration tests which use
    # the Python mechanize module to test the HTTPS server.
    # See https://github.com/travis-ci/travis-ci/issues/1748
    #     https://travis-ci.org/isislovecruft/bridgedb/jobs/50169439#L1763
    #     https://stackoverflow.com/questions/2192323/what-is-the-python-egg-cache-python-egg-cache
    #     https://github.com/pypa/virtualenv/issues/459
    - PYTHON_EGG_CACHE="${HOME}/.python-eggs-$(echo $RANDOM$PPID$RANDOM | sha256sum | cut -d ' ' -f 1)"
  matrix:
    # Debian Wheezy
    - TWISTED_VERSION=13.2.0 PYOPENSSL_VERSION=0.13.1
    # Debian Jessie
    - TWISTED_VERSION=14.0.2 PYOPENSSL_VERSION=0.14

matrix:
  include:
    - python: "2.7"
      env: TWISTED_VERSION=15.0.0 PYOPENSSL_VERSION=0.14
    - python: "pypy"
      env: TWISTED_VERSION=14.0.2 PYOPENSSL_VERSION=0.14
  allow_failures:
    - python: "2.7"
      env: TWISTED_VERSION=15.0.0 PYOPENSSL_VERSION=0.14
    - python: "pypy"
      env: TWISTED_VERSION=14.0.2 PYOPENSSL_VERSION=0.14
  fast_finish: true

before_install:
  - sudo apt-get update
  - mkdir $PYTHON_EGG_CACHE

install:
  - sudo apt-get install -qq --no-install-suggests --no-install-recommends build-essential openssl sqlite3 libgpgme11 libgpgme11-dev python-dev python-setuptools
  - pip install -q --no-use-wheel -r .travis.requirements.txt
  - pip install -q --no-use-wheel Twisted==$TWISTED_VERSION pyOpenSSL==$PYOPENSSL_VERSION
  - make install

# Start a BridgeDB instance before running the tests:
before_script:
  - mkdir run
  - cp -R -t run bridgedb.conf captchas gnupghome
  # Add '127.0.0.1' to EMAIL_DOMAINS in bridgedb.conf. This should ONLY be
  # done on testing servers, never on production servers.
  - sed -r -i -e "s/(EMAIL_DOMAINS)(.*)(])/\1\2\, '127.0.0.1']/" run/bridgedb.conf
  # Change EMAIL_SMTP_PORT to 2525:
  - sed -r -i -e "s/(EMAIL_SMTP_PORT = )([1-9]{2,5})/\12525/" run/bridgedb.conf
  # Enable plaintext HTTP distribution, otherwise the mechanize-based tests in
  # test_https.py will fail with CERTIFICATE_VERIFY_FAILED because urllib2
  # won't recognize ourt self-signed certificate:
  - sed -r -i -e "s/(HTTP_UNENCRYPTED_BIND_IP = )(None)/\1'127.0.0.1'/" run/bridgedb.conf
  - sed -r -i -e "s/(HTTP_UNENCRYPTED_PORT = )(None)/\16788/" run/bridgedb.conf
  - leekspin -n 100
  - cp -t run networkstatus-bridges cached-extrainfo* bridge-descriptors
  - ./scripts/make-ssl-cert
  - cp -t run privkey.pem cert
  - bridgedb -r run &

script:
  - make coverage-test

after_success:
  - coveralls --rcfile=".coveragerc"
