Babel==0.9.6
BeautifulSoup==3.2.1
Mako==0.8.1
MarkupSafe==0.18
Twisted==13.1.0
argparse>=1.2.1
coverage==3.6
ipaddr>=2.1.10
pyOpenSSL>=0.13
pygeoip==0.2.7
pygpgme==0.3
recaptcha>=1.0rc1
recaptcha-client>=1.0.6
sure==1.2.2
trialcoverage==0.3.12
wsgiref>=0.1.2
zope.interface>=4.0.5
