Babel==0.9.6
BeautifulSoup==3.2.1
Mako==0.8.1
Twisted==16.1.1
ipaddr==2.1.11
pycrypto==2.6.1
pyOpenSSL==16.2.0
pygeoip==0.2.7
gnupg==2.0.1
pillow>=2.6.1
qrcode==5.0.1
service_identity==14.0.0
git+https://git.torproject.org/stem.git@3eb59411781c4fa210979cb112b800c001a59f6c#egg=stem-1.5.4.dev1-py2.7
zope.interface==3.6.1
