## -*- coding: utf-8 -*-

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BridgeDB - 500</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bridge IP database">
    <meta name="author" content="The Tor Project">

    <!-- Le styles -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <!--[if IE 7]>
        <link rel="stylesheet" href="/assets/css/font-awesome-ie7.min.css">
        <![endif]-->
    <link rel="stylesheet" href="/assets/css/error.css">
  </head>
  <body>
    <div class="application error error500">
      <main class="main main--error" role="main">
        <div class="error-bg full-size">
          <div class="hill-left full-size"></div>
          <div class="hill-right full-size"></div>
          <div class="shadow-left full-size"></div>
          <div class="shadow-right full-size"></div>
        </div>
        <div class="road full-size"></div>
        <div class="error-text">
          <h1>Bad News Bears</h1>
          <p>Something wicked totally just borked <a href="/">BridgeDB</a>… :'(</p>
        </div>
      </main>
    </div>
  </body>
</html>
