# These are the required dependencies for building BridgeDB's Sphinx
# documentation. You will also need all the requirements listed in
# requirements.txt.

sphinx==1.6.5
sphinxjp.themes.basicstrap==0.4.3
sphinx-argparse==0.2.1
sphinxcontrib-fulltoc==1.2.0
repoze.sphinx.autointerface==0.8
docutils==0.14
