<%inherit file="base.html"/>

<div class="main-steps">
<div class="step row">
<div class="span1">
  <p class="lead"> <span class="step-title"> Step 1 </span></div><div
    class="span5 step-text">Get <a
    href="#">Tor Browser Bundle</a></p></div>
</div>
<div class="step row">
  <div class="span1">
    <p class="lead"><span class="step-title">Step 2 </span></div>
  <div class="span5 step-text">Get <a
    href="#">bridges</a></p></div>
</div>
<div class="step row"><div class="span1">
    <p class="lead"><span class="step-title"> Step 3
  </span></div><div class="span5 step-text">Now <a href="#">add
      the bridges to
      Vidalia</a></p>
</div>
</div>
<hr>
