<%inherit file="base.html"/>

<h3>Looking for obfuscated bridges?</h3>

<p class="lead">Depending on the bundle you are using you will need different bridges:</p>
<ul>
  <li><p class="lead">Click <a href="#">here</a> if you are using tor-obfsproxy-browser-2.4.7-alpha-1 or
  tor-obfsproxy-browser-2.4.9-alpha-1.</p>
  </li>
  <li>
  <p class="lead">If you are using tor-flashproxy-pyobfsproxy-browser-2.4.7-alpha-1, you
  can use both <a href="#">these</a> and <a href="#">these</a>
  bridges.</p>
  </li>
</ul>
<h3>Looking for normal bridges?</h3>
<ul>
  <li>
  <p class="lead"> Click <a href="#">here</a> if you are using other bundles like
tor-browser-2.4.7-alpha-1.
  </li>
</ul>
